$mobile: 320px; 
$tablet: 768px;
$desktop: 1200px;

.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #5474fd;
    color: white;
    max-width: 1770px;
    width: 100%;
    min-height: 83px;
}

.brand-title {
    font-family: "Josefin Sans", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 26px;
    letter-spacing: 2.4px;
    color: #FFFFFF;
    padding-top: 5px;
    margin-left: 20px;
}

.navbar-links ul {
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar-links li {
    list-style: none;
}

.navbar-links li a {
    text-decoration: none;
    color: white; 
    padding: 10px;
    display: block;
}

 .toggle-button {
    position: absolute; 
    right: 20px;
    top: 30px;
    display: none;
    flex-direction: column;
    justify-content: space-around;
    width: 30px;
    height: 21px;
 }

 .toggle-button .bar {
    height: 3px; 
    width: 100%;
    background-color: white; 
    border-radius: 10px;
 }

 @media (max-width: $tablet) {
    .toggle-button {
        display: flex;
    }

    .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar-links li {
        text-align: center;
    }

    .navbar-links.active {
        display: flex;
    }
 }