.about {
    display: flex; 
    align-items: center;

    &__image {
        margin: 2rem;
        float: left;
    }

    &__title {
        margin-bottom: 3rem;
        font-family: "Kanit", sans-serif;
        text-transform: uppercase;
        font-style: italic;
    }
}

/*add text, fix font and */