$mobile: 320px; //default
$tablet: 800px; 
$desktop: 1200px; 

.about__title {
    margin-top: 0;
    padding-left: 0;
}

@media screen and (min-width: $tablet) {
    .about {
        display: flex;
        justify-content: space-evenly;
    }

    .about__text-container {
        width: 70vw;
        margin-left: .5rem;
    }
}

