.about {
    display: flex; 
    align-items: center;
    padding: 1rem;

    &__image {
        margin-right: 1rem;
        float: left;
    }

    &__title {
        padding: 0 1rem o 1rem; 
        font-family: "Kanit", sans-serif;
        text-transform: uppercase;
        font-style: italic;
    }

    &__text {
        padding: 1rem;
    }
}