$mobile: 320px; //default
$tablet: 800px; 
$desktop: 1200px;

* {
    box-sizing: border-box;
}

body {
    background-color: rgb(255, 232, 232);
    width: 100vmax;
    width: 100%;
    height: 100vmin; 
    margin: auto; 
    font-family: "Roboto Slab", serif;
    font-size: 1em;
    color: #333;
}

section {
    display: flex;
    align-content: center;
    margin: auto;
    padding: 1rem;
    min-height: 40vh;
//    border: 1px solid lightgray
}

.link {
    text-decoration: none;
    color: white;
}

.btn {
    width: 180px;
    margin: 5px;
    border: none;
    text-decoration: none;
    background-color: #ff5376;
    padding: 5px;
    position: relative; 
    z-index: 1;
}

.btn::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: #7FEFBD;
    z-index: -1;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 200ms ease-in;
}

.btn:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}

.headline {
    padding-top: .5rem;
    padding-left: 1rem;
    padding-bottom: .5rem;
    font-family: "Kanit", sans-serif;
    font-size: 30px;
    color: #ff5376;
    text-shadow: 1.5px 1.5px #f7b7df;
    text-transform: uppercase;
    font-style: italic;
    position: relative;
    background-color: rgb(253, 214, 215);

    &:hover {
        color: #7FEFBD;
    }
}

.headline::after {
    content:"";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 3px;
    background: currentColor; 
    box-shadow: 1,5px 1,5px 0 0 #f7b7df;

    transform: scaleX(0);
    transform-origin: right;
    transition: transform 250ms ease-in;
}

.headline:hover::after {
    transform: scaleX(1);
    transform-origin: left;
    box-shadow: 1,5px 1,5px 0 0 #f7b7df;
}

