* {
    box-sizing: border-box;
}

body {
    width: 100vmax;
    width: 100%;
    height: 100vmin; 
    margin: 0; 
    font-family: "Roboto Slab", serif;
    font-size: 1em;
    color: #333;
}

section {
    min-height: 40vh;
    background-color: pink; 
    border: red solid 1px;
    margin: auto;
}

.link {
    text-decoration: none;
    color: #333;
}

.btn {
    width: 200px;
    margin: 5px;
    border: none;
}