.header {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    height: 30vmin;
    padding: 1rem;
    font-family: "Kanit", sans-serif;
    font-style: italic;
    color: #ff5376;
    text-shadow: 2.5px 2.5px #f7b7df;
    text-transform: uppercase;

    &__title {
        font-size: 7vw;
        &:hover {
            color: #7FEFBD;
        }
    }
}
/*
.menu {
    overflow: hidden; 

    &__list {  //needs to be lowered - check notes for trick
        display: flex;
        list-style: none;
        font-size: 20px;
    }

    &__item {
        padding-left: 2rem;
    }
}

.menu__link {
    color: #ff5376;
    text-shadow: 1,5px 1,5px #f7b7df;
    
    &:hover {
        color: #7FEFBD;
    }
}

.menu a {
    float: left;
    display: block; 
    text-align: center;
}

.menu .icon {
    display: none;
}

@media screen and (max-width: 600px) {
    .menu a:not(:first-child) {display: none;}
    .menu a.icon {
        float: right;
        display: block;
    }
}

@media screen and (max-width: 600px) {
    .menu.responsive {position: relative;}
    .menu.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .menu.responsive a {
        float: none;
        display: block; 
        text-align: left;
    }
}
*/

/*need to add hover and pseudo-elements for effects
colors need to be fixed
maybe add background image
darker color on hover if white/light header*/