$mobile: 320px;
$tablet: 800px;
$desktop: 1200px; 

.work {
    padding: 1rem;
    display: flex;
    justify-content: center;
}

.grid-work {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 2.5rem 2.5rem;

    @media screen and (max-width: $desktop) {
        grid-template-columns: auto auto;
        gap: 1.5rem 1.5rem;
    }

    @media screen and (max-width: $tablet) {
        grid-template-columns: auto;
        gap: 1rem 1rem;
    }
}

.grid-work__item {
    width: 350px;
    border: 1px solid blue;
    padding: 1em;

    @media screen and (max-width: $tablet) {
        width: 300px;
    }
}