$mobile: 320px; //default
$tablet: 800px; 
$desktop: 1200px;

.work__card {
    display: flex;
    flex-direction: column;
    padding: .5rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.work__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.work__img {
    display: flex;
    justify-content: center;
}

@media screen and (min-width: $tablet) {
    .grid-work {
        display: grid;
        flex-wrap: wrap;
        grid-template-columns: auto auto;
        gap: 1rem 1rem;
    }  
}

@media screen and (min-width: $desktop) {
    .grid-work {
        display: grid;
        flex-wrap: wrap;
        grid-template-columns: auto auto auto;
        gap: 1rem 1rem;
    }
}